List a space
<form action="/spaces" method="post">
  <label for="space_name" >
    What is the name of your space? <input type="text" name="space_name">
  </label>
  <label for="space_decsription">
    how would you decsribe your space? <input type="text" name="space_description" value="">
  </label>
  <label for="space_price">
    how much would you like to charge for your space? <input type="text" name="space_price" value="">
  </label>
  <label for="space_availability">
    <input type="date" name="space_start_date" >
    <input type="date" name="space_end_date" >
  </label>
  <input type="submit" value="submit">
</form>
