List a space
<form action="/spaces" method="post">
  <label for="space_name" >
    What is the name of your space? <input type="text" name="space_name">
  </label>
  <label for="space_decsription">
    how would you decsribe your space? <input type="text" name="space_description" value="">
  </label>
  <input type="submit" value="submit">
</form>
