<form action="/spaces/filtered" method="post">
  <label for="avaiable_from">
    Available From:
    <input type="date" name="available_from" />
  </label>
  <label for="available_to">
    Available To:
    <input type="date" name="available_to" />
  </label>
  <input type="submit" value="Search" />
</form>
