<!DOCTYPE html>
<html>
  <head>
    <title>InglouriousBnB</title>
  </head>
  <body>
    <h1>Hello world</h1>
    <% if current_user %>
      You are signed in as <%= current_user.name %>.
    <% end %>
    <%= yield %>
  </body>
</html>
