<!DOCTYPE html>
<html>
  <head>
    <title>InglouriousBnB</title>
    <% if current_user %>
    You are signed in as <%= current_user.name %>.
    <% end %>
    <%= yield %>
  </head>
  <body>
  </body>
</html>
